.body {
  /* background-image: url(../img/body-second-bg-image.jpg);
  background-size: 500px; */
  background-color: rgba(252, 250, 153, 0.5);
}

.img {
  width: 100%;
  height: 400px;
}

.card_book {
  width: 300px;
}

.title {
  width: 250px;
}

.language {
  width: 70px;
}

.country {
  width: 100px;
}

.year {
  width: 103px;
}

.site-hero {
  background-image: url(../100-best-books-master/static/library-bright.jpg  );
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
}

.search-form {
  margin-top: 30px;
}

/* .js-bookmark-button::after {
  content: '';
  background-image: url(../images/bookmark-no-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */

/* .bookmark-btn.js-bookmark-button::after {
  content: '';
  background-image: url(../images/bookmark-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */