.body {
  /* background-image: url(../img/body-second-bg-image.jpg);
  background-size: 500px; */
  background-color: rgba(252, 250, 153, 0.5);
}

.img {
  width: 100%;
}

.site-hero {
  background-image: url(../100-best-books-master/static/library-bright.jpg  );
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
}

.search-form {
  margin-top: 30px;
}
